* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-layout{
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}

.right-side{
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
}

.dropdown{
    display: flex;
    align-items: center;
    gap: 8px;
}

.bgcolor{
    background-color: #7F56D9;
}